In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.345051  0.275484
1    a  two -0.878085  1.242623
2    b  one -1.406808  1.030731
3    b  two -1.117395 -1.765005
4    a  one -0.316376  0.404325

In [2]:
# Series Groupby
display(df['data1'])
display(df['key1'])
df['data1'].groupby(df['key1']) #Series執行Groupby
df['data1'].groupby(df['key1']).mean()

0   -0.345051
1   -0.878085
2   -1.406808
3   -1.117395
4   -0.316376
Name: data1, dtype: float64

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: object

key1
a   -0.513171
b   -1.262102
Name: data1, dtype: float64

In [3]:
df['data1'].groupby(df['key1']).agg(['mean', 'std'])

          mean       std
key1
a    -0.513171  0.316350
b    -1.262102  0.204646

In [4]:
mean = df['data1'].groupby([df['key1'], df['key2']]).mean()
mean

key1  key2
a     one    -0.330714
      two    -0.878085
b     one    -1.406808
      two    -1.117395
Name: data1, dtype: float64

In [ ]:
mean.unstack().stack() #有沒有.stack()都是一樣的資料，只是可以變成短/常資料

key2       one       two
key1
a    -0.330714 -0.878085
b    -1.406808 -1.117395